<div class="card mb-3">
    <img src="{{image.Image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <div>
            <i class="fa fa-heart-o fa-m mr-3"></i>
            <i class="fa fa-bookmark-o fa-m mr-3"></i>
            {{image.likes}} likes
            <div class="mt-2" style="font-size: smaller; color: dimgrey;">{{image.timestamp|date:'medium'}}</div>
        </div>        
    </div>
</div>