<!-- Image and text -->
<nav class="navbar navbar-light bg-white sticky-top">
    <div class="container mt-1">
        <a class="navbar-brand d-flex" href="#">
        <img src="../../assets/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        <h3 class="ml-2">Aperture</h3>
        </a>
    </div>
</nav>
