/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
body{
    background-color: whitesmoke;
    font-family: 'Caveat', cursive;
}