<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mr-5">
            <h5 class="ml-3 mb-3">Sort</h5>
            <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                <option *ngFor="let sort of sortOptions"
                [value]="sort.value">{{sort.name}}</option>
            </select>
        </div>
        <div class="col-md-7">
            <div *ngFor="let image of images">
                <app-image-card [image]="image"></app-image-card>
            </div>
        </div>
    </div>
</div>